main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 32em;
    min-width: 24em;
    margin: auto;
}

p, i
{
    line-height: 1.618em;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1
{
    font-family: Fira Code; 
    font-weight: 300;
    text-align: center;
    font-size: 2em;
}
#author
{
    background: black;
    color: white;
    border-radius: 1em;
    padding: 0 1em;
}
header p
{
    font-weight: 300;
    text-align: center;
    font-size: 1.25em;
}

h2
{
    font-size: 1em;
    font-weight: 500;
    font-family: Fira Code;
    line-height: 0;
}

figure
{
    width: 512px; 
    height: 512px; 
    position: relative;
    border-top: solid 2px grey;
    padding-top: 2em;
    margin: auto;
}

section:first-of-type figure
{
    border: none;
}

canvas
{
    width: 100%;
    height: 100%;
}

figcaption
{
    line-height: 512px; 
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    text-align: center;
}