@import url(https://code.cdn.mozilla.net/fonts/fira.css);
html
{
    display: flex;
    box-sizing: border-box;
}
*, *:before, *:after 
{
    box-sizing: inherit;
}
body
{
    font-size: 1.618rem;
    line-height: 1.618em;
    letter-spacing: .04em;
    font-family: Fira Sans; 
}
header, footer
{
    font-family: Fira Mono;
}
main
{
    flex-grow: 1;
}
a:hover
{
    text-decoration: underline;
}
a
{
    text-decoration: none;
    color: #00f;
}
.markup
{
    color: #ccc;
    font-family: Fira Mono;
}