@import url(https://code.cdn.mozilla.net/fonts/fira.css);
html
{
    font-size: 2.8vmax;
    letter-spacing: .02em;
    font-family: Fira Sans; 
}
body
{
    margin: 1em;
    padding: 0;
    
    min-height: 100%;
    height: auto;
}

a:hover
{
    text-decoration: underline;
}
a
{
    text-decoration: none;
    color: #00f;
}
