/* common variables */
:root 
{
    --headshotWidth: calc(100vh / 1.618);
    --itemGap: 2vw;
    --mainMargin: 3vw;
    --headerBorderWidth: 2vmin;
    --aspectRatio: 0.5625em;
}
/* keep borders inside the box dimensions */
html 
{
  box-sizing: border-box;
}
*, *:before, *:after 
{
  box-sizing: inherit;
}
/* get things to a good default */
html, body
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Fira Sans;
    height: 100%;
    color: white;
}
/*  */
body
{
    background: linear-gradient(
            to bottom,
            rgba(255, 233.8095, 69.6405, 0.04),
            rgba(0, 32.181, 76.8825, 0.07)
        );
    display: flex;
    flex-direction: row;
    position: relative;
}
/*  */
header
{
    background: linear-gradient(
            to bottom,
            rgba(255, 233.8095, 69.6405, 0.4),
            rgba(0, 32.181, 76.8825, 0.7)
        ),
        url(../images/headshot.jpg);
    background-size: cover;
    height: 100%;
    width: var(--headshotWidth);
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 2vh;
    flex-shrink: 0;
    border: var(--headerBorderWidth) solid transparent;
    border-top-color: rgba(255, 233.8095, 69.6405, 1);
    border-bottom-color: rgba(0, 32.181, 76.8825, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}
/* border gradient */
header:before, header:after 
{ 
    content: ""; 
    position: absolute; 
    top: -2vmin; 
    bottom: -2vmin; 
    width: var(--headerBorderWidth); 
    background-image: linear-gradient(
            to bottom,
            rgba(255, 233.8095, 69.6405, 1),
            rgba(0, 32.181, 76.8825, 1)
        );
} 
header:before 
{ 
    left: -2vmin; 
} 
header:after 
{ 
    right: -2vmin; 
}
/* social icon interactivity */
header a, header a:visited, header a:active
{
    font-size: 10vh;
    color: white;
}
header a:hover
{
    color: rgb(255, 233.8095, 69.6405);
}
/*  */
footer
{
}
/*  */
h1
{
    font-size: 14vh;
    font-weight: 100;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
}
h2
{
    width: 100%;
/*    font-size: 35px;*/
    line-height: 0;
    color: rgba(0, 32.181, 76.8825, 1);
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
}
h3, h4
{
    font-size: 0.09em;
    font-weight: 300;
    color: black;
    line-height: 0;
}
h4
{
    font-weight: 200;
}
/*  */
main
{
    flex-grow: 1;
    margin: var(--mainMargin);
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}
/*  */
section
{
    font-size: calc((100vw - 2 * (var(--itemGap) + var(--mainMargin)) - var(--headshotWidth)) / 2);
    width: 1em;/*calc(50% - var(--itemGap));*/
    height: var(--aspectRatio);
    overflow: hidden;
    background: white;
    color: black;
    border-radius: var(--itemGap);
}
/* overlay, but remove text on hover */
.caption
{
    position: absolute; 
    height: 100%; 
    width: 100%; 
    z-index: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a:hover .caption *
{
    font-size: 0px;
}
/* stylize media before hovering */
.media
{
    filter: blur(0.007em) opacity(0.2);
}
a:hover .media
{
    filter: opacity(0.6);
}
/* clickable media */
section a
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
/* get the frame into a tiny box */
iframe
{
    --s: 0.5;
    margin: 0;
    padding: 0;
    -moz-transform: scale(var(--s)); 
    -webkit-transform: scale(var(--s)); 
    -o-transform: scale(var(--s));
    -ms-transform: scale(var(--s));
    transform: scale(var(--s)); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    
    --m: 200%;
    width: var(--m);
    height: var(--m);
    
    z-index: 0;
}
/* Maximum aspect ratio */
@media (max-aspect-ratio: 110/89) 
{
    body
    {
        flex-wrap: wrap;
    }
    
    header 
    {
        width: 100%;
        height: 61vw;
        background: linear-gradient(
            to bottom,
            rgba(255, 233.8095, 69.6405, 0.9),
            rgba(0, 32.181, 76.8825, 0.9)
        ),
        url(../images/headshot.jpg);
        background-size: cover;
    }
    
    section
    {
        margin: 1vh 0;
        font-size: calc(100vw - 2 * var(--mainMargin));
    }
}
/* Minimum aspect ratio */
@media (min-aspect-ratio: 16/9) 
{ 
    section
    {
        font-size: calc((100vw - 2 * var(--mainMargin) - 3 * var(--itemGap) - var(--headshotWidth)) / 3);
    }
}