@import url(../../css/common.css);
body
{
    position: relative;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #eee;
    color: #111;
}
.background
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
}
main
{
    border-radius: 32px;

    width: 720px;    
    margin: 1em auto;  
    background: #f7f7f7;
    z-index: 10;
    flex-grow: 1;
    
    padding: 24px 32px;
    position: relative;  
}
@media (max-aspect-ratio: 1/1) {
    body
    {
        font-size: 3em;
    }
    main
    {
        width: calc(100% - 1em);
        margin: .5em;
    }
}
section
{
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
p
{
    min-height: 1.618em;
    margin: 0;
}
.markup
{
    color: #bbb;
    font-weight: normal;
    background: #f7f7f7;
}
blockquote
{
    display: inline;
    margin: 0;
    font-style: italic;
}
.bold
{
    font-weight: bold;
    color: #333;
}
.bold .anchor
{
    color: #000;
    font-weight: 900;
}
.anchor
{
    color: #33C;
    font-weight: bold;
}