body
{
    background: #eee;
    color: #111;
}
::selection { 
    background: #ff0; 
}
main
{
    background: #f7f7f7; 
}
.markup
{
    color: #bbb;
    background: #f7f7f7;
}
.bold
{
    color: #333;
}
blockquote
{
    color: #4c4c4c;
}
.bold blockquote, blockquote .bold
{
    color: #444;
}
.bold .anchor
{
    color: #008;
}
.anchor
{
    color: #3b3bff;
}
a
{
    color: #00f;
}