.concrete
{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    pointer-events: none;
/*    position: relative;*/
    z-index: 12;
    min-height: 1em;
/*    vertical-align: text-top;*/
/*
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
*/
/*    background: red;*/
/*    position: absolute;*/
/*    width: 100%;*/
}
textarea
{
    position: absolute;
/*
    top: 24px;
    left: 0;
    right: 0;
    bottom: 0;
*/
    width: calc(100% - 72px);
    height: calc(100% - 48px);
    font-family: Fira Mono;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    color: #fff0;
    background: #fff0;
    caret-color: black;
}
.line
{
    min-height: 1.6em;
}
blockquote
{
    display: inline;
    margin: 0;
}