@import url(../css/common.css);

body
{
    line-height: 1.618em;
    font-weight: 400;
    
/*
    text-align: justify;
    text-justify: inter-word;
*/
    
    display: flex;
    flex-direction: column;
    
    max-width: 24rem;
    min-width: 512px;    
    margin: 1em auto;
}

main
{
    display: flex;
    flex-direction: column;
}
main > *
{
    margin: 1em 0;
}

header
{
    font-family: Fira Mono;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
header > *
{
    margin: .5em;
}

#description
{
    font-style: italic;
}

h1, h2, h3, h4
{
    margin: 0;
    font-weight: inherit;
}
h1
{
    font-size: 1.618rem;
    font-weight: inherit;
}
h2
{
    align-self: stretch;
    font-size: 1rem;
    font-weight: 500;
}
h3
{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 400;
}
.year
{
    position: absolute;
    z-index: 3;
    left: -2em;
}
.linkToComments
{
    float: right;
    display: none;
}

figure
{
/*    position: relative;*/
/*    width: 100vw;*/
/*    height: 512px;*/
/*    padding: 0em 10em;*/
/*
    margin-left: -3em;
    margin-right: -2em;
*/
/*
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
*/
    border-width: 0 1000px;
    border-color: #000;
    border-style: solid;
    width: 100%;
    margin-left: -1000px;
    color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    font-size: 20px;
}
#rainbow
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: 100%;
}
#banner
{
/*    display: none;*/
/*
    width: 512px;
    height: 512px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -256px 0 0 -256px;
*/
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Timeline figure
{
    background: #ffa0c0;
    border-color: #ffa0c0;
}
#Timeline figure canvas
{
    width: 8em;
    height: 8em;
}
#PerceptualGeometry figure
{
    background: #00d1cb;
}
#DiscoveringtheSuperRect figure
{
    background: #bdb2fc;
}
#PerceptualGeometry
{
    display: none;
}
figcaption
{
    position: relative;
/*    position: absolute;*/
/*    top:  50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 3;*/
/*
    width:  61.8%;
    height: 61.8%;
*/
/*    width: 512px;*/
    
/*
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
*/
    
/*    font-size: 1.618em;*/
}
canvas
{
/*    width: 62vw;*/
/*    max-width: 100vh;*/
/*    max-height: 10vh;*/
/*    position: relative;*/
/*    margin: 1em 0;*/
}
section
{
    width: 100%;
/*    position: relative;*/
/*
    display: flex;
    flex-direction: column;
    align-items: center;
*/
}
footer
{
    display: flex;
    flex-direction: column;
}
footer > * 
{
    display: flex;
    flex-direction: column;
    padding: 1em 0 0;
}
footer *
{
    margin: 0;
}
